.cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    max-width: 360px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .place__subtitle {
        font-size: 16px;
    }
}

/* Стили для иного расширениия (Mobile) */
@media screen and (max-width: 767px) {
    .place__subtitle {
        margin: 0 16px 0 16px;
    }
}