.cover {
    display: block;
    margin: 0 auto 92px auto;
    max-width: 1184px;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items:center;
    justify-content: center;
}

@media screen and (max-width: 850px) {
    .cover {
        margin: 0 auto 88px auto;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin: 0 auto 64px auto;
    }
}