@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.body {
    background-color: #2A2C2F;
    color: #FFF;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 48px 56px 48px;
    padding: 0;
}

.header__logo {
    max-width: 176px;
  }

.header__lang-links {
    display: flex;
    align-self: flex-end;
    column-gap: 18px;
    margin: 0;
    padding: 0 0 6px 0;
    list-style-type: none;
  }

.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
    text-decoration: none;
    text-align: right;
    transition: 0.4s ease-in-out;
  }
.header__lang-link_active {
    border-bottom: 1px solid #FFF;
  }

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    margin: 0 auto 92px auto;
    padding: 0;
  }
.lead__title {
    margin: 0;
    padding: 0;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

.lead__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto;
    text-align: center;
    color: #FFFFFF;
}

.lead__figure {
    display: flex;
    flex-direction: column;
}

.lead__image {
    margin: 0;
    padding: 0;
    max-width: 984px;
    width: 100%;
}

.lead__figcaption {
    margin-top: 8px;
    padding: 0;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}